<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <title>What to do?</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="todo" placeholder="TODO:" autofocus>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>

    <script src="../src/windows/add.js"></script>
</body>

</html>