<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>TODO List</title>
</head>

<body>
    <nav class="navbar navbar-light bg-faded ">
        <a class="navbar-brand" href="#">TODO:</a>
    </nav>
    <ul class="list-group"></ul>

    <script src="../src/windows/main.js"></script>
</body>

</html>